.bg{background-color: orange; }

.bg1{background-color: rgb(21, 238, 68); }
.bg2{background-color: rgb(74, 26, 185); }

.div_width{width: 50%;}
.div_height{height: 150px; padding: 50px;}
.score{padding:50px; align-items: center; }


.image_size{width: 120px; height: 120px; alt:"";}